#txs-filters {
  label {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.botton-hover {
  span.hidden {
    display: none;
  }
}

.botton-hover:hover {
  span.hidden {
    display: block !important;
  }
}