/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button.hide-stepper,
input::-webkit-inner-spin-button.hide-stepper {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'].hide-stepper {
  -moz-appearance: textfield;
}

.calibration-param-group {
  border: 1px solid lightgrey;
  padding: 10px;
}
